* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

button {
  padding: 3.5px 3.5px 3.5px 3.5px;
  border-radius: 10%;
}

.container {
  padding: 0px 25px 0px 25px;
  background-color: black;
}

.header {
  background: rgb(72, 61, 139);
  background: linear-gradient(
    0deg,
    rgba(72, 61, 139, 1) 41%,
    rgba(41, 34, 175, 1) 100%
  );
  color: white;
  padding: 15px;
  padding-top: 75px;
}

.footer {
  background-color: #483d8b;
  color: white;
}

.aboutModalContainer {
  background-color: rgb(72, 61, 139);
  padding: 10px;
}

.movieContainer {
  background-color: plum;
  color: darkslategray;
}

.moviesModalContainer {
  background-color: grey;
}

.moviesModalContent {
  background: black;
  color: white;
  margin: 15px;
}
