* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

button {
  padding: 3.5px 3.5px 3.5px 3.5px;
  border-radius: 10%;
}
button:focus {
  outline: none;
}

.container {
  padding: 0px 25px 0px 25px;
  background-color: black;
}

.header {
  background: rgb(72, 61, 139);
  background: linear-gradient(
    180deg,
    rgba(111, 0, 255, 1) 25%,
    rgba(72, 61, 139, 1) 100%
  );
  color: white;
  padding: 15px;
  padding-top: 75px;
}

.footer {
  background-color: #483d8b;
  color: white;
}

.aboutModalContainer {
  background-color: rgb(72, 61, 139);
  padding: 10px;
}

.movieContainer {
  background: rgb(72, 61, 139);
  background: linear-gradient(
    180deg,
    rgba(72, 61, 139, 1) 0%,
    rgba(111, 0, 255, 1) 100%
  );
  color: beige;
}

.ReactModal__Overlay {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  background-color: rgba(105, 89, 211, 0.75) !important;
}
.ReactModal__Content {
  opacity: 100% !important;
}

.moviesModalContent {
  background: rgb(41, 21, 131);
  color: white;
  margin: 15px;
  outline: none;
  padding: 10px;
}
